<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="translate" class="tab-btn">
      <div class="icon-wrapper">
        <ion-icon aria-hidden="true" name="home" class="tab-icon" />
      </div>
      <ion-label class="tab-label">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" class="tab-btn">
      <div class="icon-wrapper">
        <ion-icon aria-hidden="true" name="person" class="tab-icon" />
      </div>
      <ion-label class="tab-label">Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
