@use '../../../../../theme/breakpoints' as breakpoints;

:host {
  display: block;
  position: relative;

  width: 100%;
  height: 100%;
  aspect-ratio: 1;

  background-color: #ffffff;

  @media #{breakpoints.$breakpoint-gt-xs} {
    background-color: #f5f5f5;
  }

  @media (prefers-color-scheme: dark) {
    background-color: #202124;
  }

  overflow: hidden;
  border-radius: 12px;
}

app-skeleton-pose-viewer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
